# telegram
TG_TOKEN=<your_token>

# redis
REDIS_HOST=redis # change to your redis host
REDIS_PORT=6379 # change to your redis port
REDIS_DB=0 # change to your redis db
REDIS_PASSWORD=<redis_password> # change to your redis password
REDIS_SSL=false # set to true if using SSL
